@page
@using System.Security.Claims
@model GraduatePortalWeb.Pages.Account.ProfileModel
@{
    ViewData["Title"] = "Profile";
}
@{
    if (HttpContext.User.FindFirstValue(ClaimTypes.Role) != null)
    {
        Layout = LayoutAuthorizer.GetLayoutFromRole(this.HttpContext);
    }
    else
    {
        Layout = "_Layout";
    }
}
<div class="row m-2">
    <div class="col-6">
        <strong>First Name:</strong>
        <label>@Model.profile.FirstName</label>
    </div>
</div>
<div class="row m-2">
    <div class="col-4">
        <strong>Last Name:</strong>
        <label>@Model.profile.LastName</label>
    </div>
</div>
<div class="row m-2">
    <div class="col-6">
        <strong>Email:</strong>
        <label>@Model.profile.Email</label>
    </div>
</div>
<div class="row m-2">
    <div class="col-6">
        <strong>SFA ID:</strong>
        <label>@Model.profile.PersonId</label>
    </div>
</div>